.filter_info-panel {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);
    position: relative;
    padding: 15px;
}

.filter_info-panel::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: 17px;
}
