
.open__menu {
    position: absolute;
    top: 165px;
    display: none;
    max-width: 1140px;
    min-width: 1140px;
    // width: 100%;
    height: 480px;
    background-color: #fff;
    margin: 47px 0px 0px -36px;
    z-index: 10;
}

.open__menu.active {
    display: block;
}


.wrapper-open__menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.open__menu-content-left {

}

.open__menu-content-right {
}

.open__menu-content {
    margin: 30px 0 0 36px;
}
.menu-content {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #060606;
}

.menu__content-ferst::after {
    content: "";
    display: block;
    margin: 10px 0 15px 0;
    width: 519px;
    height: 1px;
    background-color: #060606;
    opacity: 0.4;
}

.menu__content-second::after {
    content: "";
    display: block;
    margin: 10px 0 15px 0px;
    width: 488px;
    height: 1px;
    background-color: #060606;
    opacity: 0.4;
}

.menu-sub__content {
    display: flex;
    justify-content: space-between;

.open__menu-nav {
    .open__menu-nav-link {
        color: #060606;
    }
    width: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #060606;
}
}
