//**********sorting**************

%font-stile-bolt {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000;
}

%font-style-italic {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000;
}

//**********sorting**************



